API_ID=14050586
API_HASH=42a60d9c657b106370c79bb0a8ac560c
BOT_TOKEN=7677770048:AAFZCdgCLPUZNOxEF08LUQnG5yfIdWnQQZ4
LOG_GROUP_ID=-1002293921199
MONGO_DB_URI=mongodb+srv://SHIVAM:SHIVAM9910887018@shivam.chooc.mongodb.net/?retryWrites=true&w=majority&appName=SHIVAM
OWNER_ID=5446367898
STRING_SESSION=1BVtsOHABu6K4WnWw1bXvU6aoSAet4lIhZ1ovzhTNSquCV6JZ0XCwvMeqFegNagZhaEhOmqoLXsziWXb1hbKT4L42BDtDGISQJ3-b6c2x1qMmwZzNYjwP4KpKaWkDeCY0qDctqYJgkGPAY6LWZjAkRrO415YUY5wJ30e1uwmR_iK4_7lRxsQ0eQ_tNsa66oEfoBzFadqgwkz7k_2w6x2_OLNaHvGqmbobbAHoE2-kbCKmNUMwBYc9ZMAXsPVKbW_mXL0rqImEwwM7X7bc8kEiyIHcEMViJG8wgAqnAouwD_jnjBcEBdSvXwr1-n4HCAXQUyYDdC3nGWypGfdXe4jr19R43MHE-0U=
