API_ID=14050586
API_HASH=42a60d9c657b106370c79bb0a8ac560c
BOT_TOKEN=7677770048:AAFZCdgCLPUZNOxEF08LUQnG5yfIdWnQQZ4
LOG_GROUP_ID=-1002293921199
MONGO_DB_URI=mongodb+srv://SHIVAM:SHIVAM9910887018@shivam.chooc.mongodb.net/?retryWrites=true&w=majority&appName=SHIVAM
OWNER_ID=5446367898
STRING_SESSION=BQDWZRoAf20jbhczWt1f4eT5Y2_nDaA5oBY_sBIl2Rpb_DQEP82UGGPQuhct0W7_Jn--SkuxGJ7lDUgvACp8dP2JiDB-sqyiCuUqpfglaOsGKZmoyRtH2xrp4zqBmLdDR4HyNA4qvnqPrGt2PZiYT6-JzEEmDHPsWz7e-bmCsrFDvT1KCU1EU4syTLLwmz2oFkp1YFU5IpgbArkQP7nVHrPJirO7jIkq14xM0jCBrBUiANU2QJxWv2Ul4Rk40wwWEWfqtuxBJ4lJyXpr-XoDqfSURBRqNLvI3vpxZtnATSr0qSrk8mkUy0j_smLbNdVSZWsTL5nvZCRuf7wGwZVnn2KPYa6JiQAAAAHIlft9AA
